* {
  font-family: "Lucida Console", "Courier New", monospace;
}

body {
    background-color: darkblue;
}

h1 {
    color: rgb(210, 229, 238);
    text-align: center;
    font-size: calc(15px + 2vw);
}

.grid-container {
  display: grid;
  grid-column-gap: 8px;
  grid-template-columns: 20pc auto;
  background-color: darkblue;
  padding: 8px;
}

.grid-item {
  color: lightblue;
  border: 1px solid lightblue;
  padding: 8px;
  font-size: calc(12px + 1vw);
}

p {
    color: lightblue;
    margin-left: 25px;
}

h3 {
    color: lightblue;
    text-align: center;
    font-size: calc(12px + 1vw);
}

a {
    color: lightblue;
    font-size: calc(12px + 1vw);
    margin-left: 0px;
    text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.accordion {
    background-color: darkblue;
    color: lightblue;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: calc(15px + 2vw);
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: blue; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: darkblue;
    overflow: hidden;
  }